{{!-- <embed src="{{thesis.link}}" width=100% height=750px /> --}}
<div class="container-fluid">
    <div class="row  d-flex justify-content-between align-items-center">
        <div class="col">
            <div class="card p-0">
                <div class="content card-title">
                    <h2>{{thesis.name}}</h2>
                </div>
                <div class="content">
                    <form action="/director/approveThesis/{{thesis._id}}" method="post">
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col">
                                <label for="thesisName">Title</label>
                                <input type="text" class="form-control" id="thesisName" name="thesisName"
                                    value="{{thesis.name}}" placeholder="Thesis Title" readonly="readonly">
                            </div>
                        </div>
                        <div class="content-title">
                            <h4>Mentor Details</h4>
                        </div>
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col-sm">
                                <label for="mentorName">Name</label>
                                <input type="text" class="form-control" id="mentorName" name="mentorName"
                                    value="{{thesis.mentorName}}" placeholder="Mentor Name" readonly="readonly">
                            </div>
                            <div class="col-sm">
                                <label for="mentorEmail">Email</label>
                                <input type="text" class="form-control" id="mentorEmail" name="mentorEmail"
                                    value="{{thesis.mentorEmail}}" placeholder="Mentor Email" readonly="readonly">
                            </div>
                        </div>
                        <div class="content-title">
                            <h4>Scholar Details</h4>
                        </div>
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col-sm">
                                <label for="scholarName">Name</label>
                                <input type="text" class="form-control" id="scholarName" name="scholarName"
                                    value="{{thesis.scholarName}}" placeholder="Scholar Name" readonly="readonly">
                            </div>
                            <div class="col-sm">
                                <label for="scholarEmail">Email</label>
                                <input type="text" class="form-control" id="scholarEmail" name="scholarEmail"
                                    value="{{thesis.scholarEmail}}" placeholder="Scholar Email" readonly="readonly">
                            </div>
                            <div class="col-sm">
                                <label for="scholarRollNo">Roll Number</label>
                                <input type="text" class="form-control" id="scholarRollNo" name="scholarRollNo"
                                    value="{{thesis.scholarRollNo}}" placeholder="Scholar Roll Number"
                                    readonly="readonly">
                            </div>
                        </div>
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col-sm">
                                <label for="submittedOn">Submitted On</label>
                                <input type="text" class="form-control" id="submittedOn" name="submittedOn"
                                    value="{{thesis.submittedOn}}" placeholder="Submitted On" readonly="readonly">
                            </div>
                            <div class="col-sm">
                                <label for="lastUpdatedOn">Last Updated On</label>
                                <input type="text" class="form-control" id="lastUpdatedOn" name="lastUpadtedOn"
                                    value="{{thesis.statusUpdatedOn}}" placeholder="lastUpdatedOn" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col-sm font-size-20 text-left">Uploads</div>
                            <div class="col-sm  font-size-16 text-center">
                                <a href="{{thesis.link}}" class="hyperlink-underline" download>
                                    Download Thesis
                                    <i class="fa-solid fa-file-arrow-down ml-5"></i>
                                </a>
                                {{!-- <embed src="{{thesis.link}}" width=100% height=750px /> --}}
                            </div>
                            <div class="col-sm  font-size-16 text-center">
                                <a href="{{thesis.link}}" class="hyperlink-underline" download>
                                    Download Synopsis
                                    <i class="fa-solid fa-file-arrow-down ml-5"></i>
                                </a>
                                {{!-- <embed src="{{thesis.link}}" width=100% height=750px /> --}}
                            </div>
                            <div class="col-sm  font-size-16 text-center">
                                <a href="{{thesis.link}}" class="hyperlink-underline" download>
                                    Download Plagiarism
                                    <i class="fa-solid fa-file-arrow-down ml-5"></i>
                                    {{!-- <i class="fa-solid fa-download fa-lg ml-5"></i> --}}
                                </a>
                            </div>
                        </div>
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col">
                                <details class="collapse-panel mw-full mt-20" open>
                                    <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100%, mt-20 = margin-top: 2rem (20px) -->
                                    <summary class="collapse-header">
                                        Indian Reviewers
                                    </summary>
                                    {{#if indianRev}}
                                    <div class="collapse-content">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th class="text-center">Email</th>
                                                    <th class="text-center">Institute</th>
                                                    <th class="text-center">Designation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each indianRev}}
                                                <tr>
                                                    <td>
                                                        {{#if_eq this.status "Suggested"}}
                                                        <div class="custom-radio">
                                                            <input type="radio" name="indianRev" id="{{this.email}}"
                                                                value="{{this.email}}">
                                                            <label for="{{this.email}}">{{this.name}}</label>
                                                        </div>
                                                        {{else}}
                                                        <div class="custom-radio">
                                                            <input type="radio" name="indianRev" id="{{this.email}}"
                                                                disabled="disabled" value="{{this.email}}">
                                                            <label for="{{this.email}}">{{this.name}}</label>
                                                        </div>
                                                        {{/if_eq}}
                                                    </td>
                                                    {{!-- <td class="font-italic font-size-20">{{this.name}}</td> --}}
                                                    <td class="text-center">
                                                        <div>{{this.email}}</div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div>{{this.institute}}</div>
                                                    </td>
                                                    <td class="text-center">
                                                        {{this.designation}}
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    {{else}}
                                    <div class="collapse-content text-center font-italic">
                                        No Indian Reviewers added as of now.
                                    </div>
                                    {{/if}}
                                </details>
                                <details class="collapse-panel mw-full mt-20" open>
                                    <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100%, mt-20 = margin-top: 2rem (20px) -->
                                    <summary class="collapse-header">
                                        Foreign Reviewers
                                    </summary>
                                    {{#if foreignRev}}
                                    <div class="collapse-content">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th class="text-center">Email</th>
                                                    <th class="text-center">Institute</th>
                                                    <th class="text-center">Designation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each foreignRev}}
                                                <tr>
                                                    <td>
                                                        {{#if_eq this.status "Suggested"}}
                                                        <div class="custom-radio">
                                                            <input type="radio" name="foreignRev" id="{{this.email}}"
                                                                value="{{this.email}}">
                                                            <label for="{{this.email}}">{{this.name}}</label>
                                                        </div>
                                                        {{else}}
                                                        <div class="custom-radio">
                                                            <input type="radio" name="foreignRev" id="{{this.email}}"
                                                                disabled="disabled" value="{{this.email}}">
                                                            <label for="{{this.email}}">{{this.name}}</label>
                                                        </div>
                                                        {{/if_eq}}
                                                    </td>
                                                    {{!-- <td class="font-italic font-size-20">{{this.name}}</td> --}}
                                                    <td class="text-center">
                                                        <div>{{this.email}}</div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div>{{this.institute}}</div>
                                                    </td>
                                                    <td class="text-center">
                                                        {{this.designation}}
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    {{else}}
                                    <div class="collapse-content text-center font-italic">
                                        No Foreign Reviewers added as of now.
                                    </div>
                                    {{/if}}
                                </details>
                                <a href="#directorAddReviewerModal" class="btn btn-link" role="button">Add
                                    Reviewer</a>
                            </div>
                        </div>
                        <input type="text" name="status" value="Forwarded to Dean" hidden="true" />
                        <div class="content d-flex justify-content-between">
                            <div>
                                <a href="#rejectThesisModal" class="btn btn-lg btn-primary" role="button">Reject</a>
                            </div>
                            <div class="text-right"> <!-- text-right = text-align: right -->
                                <input class="btn btn-lg btn-primary" type="submit" value="Approve">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>