{{!-- <embed src="{{thesis.link}}" width=100% height=750px /> --}}
<div class="container-fluid">
    <div class="row  d-flex justify-content-between align-items-center">
        <div class="col">
            <div class="card p-0">
                <div class="content card-title d-flex justify-content-between align-items-center">
                    <div>
                        <h2>{{user.name}}</h2>
                    </div>
                    <div class="content">
                        <h4 class="text-center text-success">
                            {{#if_eq user.isApproved true}}
                            <i class="fa-solid fa-user-check fa-xs mr-5"></i>
                            {{else}}
                            <i class="fa-regular fa-square mr-5"></i>
                            {{/if_eq}}
                            {{user.role}}
                        </h4>
                        {{#if user.pfId}}
                        <h6 class="text-right text-success">
                            <i class="fa-solid fa-hashtag mr-5"></i>{{user.pfId}}
                        </h6>
                        {{/if}}
                    </div>
                </div>
                <div class="content">
                    <form action="/director/approveUser" method="post">
                        <div class="content-title">
                            <h4>Details</h4>
                        </div>
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col-sm">
                                <label for="userName">Name</label>
                                <input type="text" class="form-control" id="userName" name="userName"
                                    value="{{user.name}}" placeholder="Thesis Title" readonly="readonly">
                            </div>
                            <div class="col-sm">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" value="{{user.email}}"
                                    placeholder="Thesis Title" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col-sm">
                                <label for="phone">Phone Number</label>
                                <input type="text" class="form-control" id="phone" name="phone" value="{{user.email}}"
                                    placeholder="Thesis Title" readonly="readonly">
                            </div>
                            <div class="col-sm">
                                <label for="createdOn">Created On</label>
                                <input type="text" class="form-control" id="createdOn" name="createdOn"
                                    value="{{user.createdOn}}" placeholder="-" readonly="readonly">
                            </div>
                        </div>
                        <div class="content-title">
                            <h4>Email Verification</h4>
                        </div>
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col-sm">
                                <label for="emailVerified">Email Verified</label>
                                {{#if user.isEmailVerified}}
                                <input type="text" class="form-control text-success" id="emailVerified"
                                    name="emailVerified" value="{{user.isEmailVerified}}" placeholder="Email Verified"
                                    readonly="readonly">
                                {{else}}
                                <input type="text" class="form-control text-danger" id="emailVerified"
                                    name="emailVerified" value="{{user.isEmailVerified}}" placeholder="Email Verified"
                                    readonly="readonly">
                                {{/if}}
                            </div>
                            <div class="col-sm">
                                <label for="emailVerifiedOn">Email Verified On</label>
                                <input type="text" class="form-control" id="emailVerifiedOn" name="emailVerifiedOn"
                                    value="{{user.verifiedOn}}" placeholder="-" readonly="readonly">
                            </div>
                        </div>
                        <div class="content-title">
                            <h4>Profile Details</h4>
                        </div>
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col-sm">
                                <label for="profileCompleted">Profile Completion</label>
                                {{#if user.isProfileComplete}}
                                <input type="text" class="form-control text-success" id="profileCompleted"
                                    name="profileCompleted" value="{{user.isProfileComplete}}"
                                    placeholder="Email Verified" readonly="readonly">
                                {{else}}
                                <input type="text" class="form-control text-danger" id="profileCompleted"
                                    name="profileCompleted" value="{{user.isProfileComplete}}"
                                    placeholder="Email Verified" readonly="readonly">
                                {{/if}}
                            </div>
                            <div class="col-sm">
                                <label for="profileCompletedOn">Profile Completed On</label>
                                <input type="text" class="form-control" id="profileCompletedOn"
                                    name="profileCompletedOn" value="{{user.profileCompletedOn}}" placeholder="-"
                                    readonly="readonly">
                            </div>
                        </div>
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col-sm">
                                <label for="role">Role</label>
                                <input type="text" class="form-control" id="role" name="role" value="{{user.role}}"
                                    placeholder="-" readonly="readonly">
                            </div>
                            <div class="col-sm">
                                <label for="department">Department</label>
                                <input type="text" class="form-control" id="department" name="department"
                                    value="{{user.department}}" placeholder="Scholar Email" readonly="readonly">
                            </div>
                        </div>
                        {{#if_eq user.role "Scholar"}}
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col-sm">
                                <label for="dateOfJoining">Date of Joining</label>
                                <input type="text" class="form-control" id="dateOfJoining" name="dateOfJoining"
                                    value="{{user.dateOfJoining}}" placeholder="Date Of Joining" readonly="readonly">
                            </div>
                            <div class="col-sm">
                                <label for="scholarRollNo">Roll Number</label>
                                <input type="text" class="form-control" id="scholarRollNo" name="scholarRollNo"
                                    value="{{user.rollNo}}" placeholder="Scholar Roll Number" readonly="readonly">
                            </div>
                        </div>
                        {{else}}
                        {{/if_eq}}
                        <div class="content-title">
                            <h4>Approve Details</h4>
                        </div>
                        <div class="form-row row-eq-spacing-sm">
                            <div class="col-sm">
                                <label for="isApproved">Approved Status</label>
                                {{#if user.isApproved}}
                                <input type="text" class="form-control text-success" id="isApproved" name="isApproved"
                                    value="{{user.isApproved}}" placeholder="-" readonly="readonly">
                                {{else}}
                                <input type="text" class="form-control text-danger" id="isApproved" name="isApproved"
                                    value="{{user.isApproved}}" placeholder="-" readonly="readonly">
                                {{/if}}
                            </div>
                            <div class="col-sm">
                                <label for="approvedOn">Approved On</label>
                                <input type="text" class="form-control" id="approvedOn" name="approvedOn"
                                    value="{{user.approvedOn}}" placeholder="-" readonly="readonly">
                            </div>
                        </div>
                        <div class="content d-flex justify-content-between">
                            <input type="text" name="userId" value="{{user._id}}" hidden="true" />
                            <input type="text" name="userEmail" value="{{user.email}}" hidden="true" />
                            <div>
                                <a href="#rejectThesisModal" class="btn btn-lg btn-danger" role="button">Reject</a>
                            </div>
                            {{#if_eq user.isApproved false}}
                            <div class="text-right"> <!-- text-right = text-align: right -->
                                <input class="btn btn-lg btn-primary" type="submit" value="Approve">
                            </div>
                            {{else}}
                            {{/if_eq}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>