<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  {{>css}}
</head>

<body data-set-preferred-mode-onload="true">
  <div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" data-sidebar-type="overlayed-sm-and-down">
    <!-- Sticky alerts (toasts), empty container -->
    <div class="sticky-alerts"></div>
    <!-- Modals -->
    {{>rejectThesisModal}}
    {{>directorAddReviewerModal}}

    <!-- Navbar -->
    {{>navbarSignedIn}}

    <!-- Sidebar overlay -->
    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
    <!-- Sidebar -->

    {{>directorSideBar}}

    <!-- Content wrapper -->
    <div class="content-wrapper">
      {{{body}}}
    </div>

    <!-- Navbar fixed bottom -->
    {{>footer}}
  </div>
  {{>scripts}}
  {{#if alert}}
  <script type="text/javascript">
    // Toasts primary alert
    function toastPrimaryAlert() {
      halfmoon.initStickyAlert({
        content: `{{ alert }}`,
        title: "Alert",
        alertType: "alert-primary",
        hasDismissButton: true,
        timeShown: 10000
      });
    }

    // Toasts secondary alert
    function toastSecondaryAlert() {
      halfmoon.initStickyAlert({
        content: `{{alert}}`,
        title: "Secondary alert",
        alertType: "alert-secondary",
        fillType: "filled-dm"
      });
    }

    window.onload = toastSecondaryAlert();
  </script>
  {{/if}}

  {{#if successAlert }}
  <script type="text/javascript">
    // Toasts success alert
    function toastSuccessAlert() {
      halfmoon.initStickyAlert({
        content: `{{successAlert}}`,
        title: "Success",
        alertType: "alert-success",
        fillType: "filled-lm"
      });
    }

    window.onload = toastSuccessAlert();
  </script>
  {{/if}}

  {{#if failAlert}}
  <script type="text/javascript">
    // Toasts danger alert
    function toastDangerAlert() {
      halfmoon.initStickyAlert({
        content: `{{failAlert}}`,
        title: "Error",
        alertType: "alert-danger",
        fillType: "filled"
      });
    }
    window.onload = toastDangerAlert();
  </script>
  {{/if}}
</body>

</html>